
 @use '@public/assets/scss/mixins';

.videos {
  &__title {
    font-size: 1.25rem;
    letter-spacing: -0.3px;
    margin-bottom: 1.5rem;

    @include mixins.md {
      font-size: 2rem;
      letter-spacing: -0.5px;
    }

    @include mixins.lg {
      margin-bottom: 2rem;
    }
  }
  &__list {
    --column-count: 2;
    display: grid;
    grid-template-columns: repeat(var(--column-count), 1fr);
    gap: 1rem;
    @include mixins.xs {
      --column-count: 1;
      row-gap: 1.5rem;
      column-gap: .875rem;
    }
    @include mixins.sm {
      --column-count: 2;
      row-gap: 1.5rem;
      column-gap: 1;
    }
    @include mixins.md {
      --column-count: 3;
      row-gap: 1.5rem;
      column-gap: 1.875rem;
    }

    @include mixins.lg {
      --column-count: 3;
      row-gap: 2rem;
      column-gap: 2.5rem;
    }

    @include mixins.xl {
      --column-count: 4;
    }

    @include mixins.xxl {
      --column-count: 5;
    }
  }
}
