@use '@public/assets/scss/mixins';
@import '@public/assets/scss/base.scss';
@import '@public/assets/scss/utilities.scss';

#root {
  @include mixins.lg {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100vh;
    overflow-y: hidden;
    padding: 2rem;
    padding-right: 0;
  }
}

.main {
  padding: 1.5rem 1rem 4rem;

  @include mixins.md {
    padding: 2rem 1.5rem 3.25rem;
  }

  @include mixins.lg {
    padding-inline: 2.25rem;
    margin-bottom: -2rem;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
